@import url('https://fonts.googleapis.com/css2? family= BhuTuka+Expanded+One & family= Inika & family= Oswald & display=swap');

* {

    padding: 0px;
    margin: 0px;

    color: #20f396;

    font-family: 'BhuTuka Expanded One', cursiva;
    font-size: 50px;

    box-sizing: border-box;

}

body {

    background-color: #2a2828; 

}

.m1 {
    
    margin-top: 80px;
    margin-left: 80px;

    width: 800px;
    height: 670px;

}

.m1 h1 {
    
    font-size: 85px;
    padding-left: 55px;
    padding-bottom: 10px;

}

h2 {

    font-size: 70px;
    padding-left: 10px;

}

h3 {
    
    font-size: 70px;
    padding-top: 15px;
    padding-left: 10px;

}

.m1 p {
    
    margin-top: 25px;
    padding-left: 10px;
    
    font-family: 'Inika',serif;

    color: white;
    font-size: 50px;

}

footer h3{

     text-align: center;
     color: white;

     font-size: 35px;
     padding-top: 110px;

}

.anime {
    padding-left: 100px;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: white;
}